@model IEnumerable<Tp_AppVet.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                    <form id="deleteForm_@item.Id" asp-action="Borrar" asp-route-id="@item.Id" method="post" style="display:inline;">

                        <button type="button"
                                onclick="confirmarEliminacion(@item.Id)"
                                class="btn btn-link p-0 text-danger">
                            Delete
                        </button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        function confirmarEliminacion(id) {
            // Dispara la alerta de confirmación
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esta acción!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33', // Rojo para eliminar
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, ¡Eliminar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                // Comprueba si el usuario hizo clic en "Sí, ¡Eliminar!"
                if (result.isConfirmed) {
                    // Envía el formulario POST con el ID correspondiente al Controller
                    document.getElementById('deleteForm_' + id).submit();
                }
            });
        }
    </script>
}
